/*General Style*/ 
body{
	font-family: 'Hurricane', cursive;
	color: #FFFFFF;
	background-color: #7E8CD1;
}
a{
	color: #CB7ED1;
	text-decoration: none;
	font-size: 1.8rem;
}
/*Header content */
header{
	background-color: #4A306D;
	padding: 2.5rem 1.5rem;
	border: 1rem solid #D17E9C;
	text-align: center;
}

	header nav a{
		color: #7E8CD1;
		font-size: 2.5rem;
		padding: 0 .5rem;
	}
	header nav a:hover{
		color: #FBC8FF;

	}
	header a.curr {
		border-bottom: 2px solid #fff;
		padding-bottom: .25rem;
	}

header .logo{
	margin-bottom: 1.5;
	width: 10rem;
}

h1{font-size: 4rem;}


h2{font-size: 2.5rem;}

h3{font-size: 1.3rem;}

header ul{
	padding: 0;
	margin: 0;
	list-style: none;

}

header li{
	display: inline-block;
	margin-left: 1.5rem;
}

img{ width: 100%; }

p{font-family: 'Roboto', sans-serif;}

/* Hero Section*/

.hero {
	 position: relative;
	 background: url(../img/home.png) no-repeat 50% 50%;
 	 background-size: cover;
   	 height: 60vh;
}

.hero-text {
 	position: absolute;
 	bottom: 2.25rem;
    right: 1.5rem;
}

.hero-text h1
	 {font-family: 'Roboto', sans-serif;
	font-size: 2.3rem;
}

.hero-text a{
	background-color: #4A306D;
	color: #FFFFFF;
	padding: .5rem 1rem;
	display: inline-block;
	border-radius: 2rem;
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
}


/*main content */

@media screen and (min-width: 40em){
	main{
	 display: flex;
	 justify-content: space-between;
	}
}

.main-content{
	padding: 1.5rem;

}
	.main-content h1{
			margin-top: 0;
	}
@media screen and (min-width: 40em){
 	 .main-content {
	 	width: 60%;
		 padding: 1.5rem;
		background-color: #CB7ED1 ;
	}
	.side-content {
	 	width: 30%;
	}
}


.side-content dt {
	font-size: 1.5rem;
}

.side-content dd {
	margin-left: 0rem;
	margin-bottom: 0.5rem;
	font-size: 1.2rem;
}

.side-content address {
	font-style: normal;
	font-size: 1.5rem;
}

/* logistics */

.side-content img {
	width: 100%;

}



/*Footer content */
footer{
	background-color: #4A306D;}
	padding: 2.5rem 1.5rem;
	text-align: center;
	color: #ffffff;
}
p{
	font-size: 1.5rem;
}

footer ul{
	padding: 2rem 1rem;;
	margin: 0;
	list-style: none;

}

footer li{
	display: inline-block;
	margin-left: 1.5rem;
}